<% provide :page_title, 'Главная страница' %>

<h1>Главная</h1>
<p>
  <%= link_to 'Создать родительскую страницу', add_page_path, class: 'btn btn-success btn-sm' %>
</p>

<%#= render 'shared/pages_tree', object: @pages, path: "/" %>

<%= render_page_hierarchy(@pages) %>